<div class="color-bg color-bg-mini d-flex">
  <div class="color-bg-secondary"></div>
  <div class="color-bg-primary"></div>
</div>

<div class="contact-section d-flex align-items-end">
  <app-header></app-header>

  <div class="container-fluid home-section-content d-flex flex-column justify-content-center">
    <div class="row d-flex justify-content-center align-items-end">
      <div class="col-12 col-md-8 ps-4 ps-md-0">
        <div class="h1 color-light">Contact</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-3">
  <div class="row py-5">
    <div class="col-12 col-md-7 px-5">
      <div class="d-flex flex-row">
        <div class="px-2">
          <label for="name-contact" class="pb-3">Nom</label>
          <input class="form-control theme-input bg-color-light" id="name-contact" type="text">
        </div>
        <div class="px-2 flex-grow-1">
          <label for="email-contact" class="pb-3">Email</label>
          <input class="form-control theme-input bg-color-light" id="email-contact" type="email">
        </div>
      </div>
      <div>
        <div class="px-2 mt-4">
          <textarea style="resize:none" class="form-control theme-textarea bg-color-light" rows="10"></textarea>
        </div>
      </div>
      <div class="d-flex justify-content-center flex-grow-1">
        <div class="btn-primary mt-4">Envoyer</div>
      </div>

    </div>
    <div class="col-12 col-md-4 d-flex align-items-center justify-content-center pt-5 pt-md-0 px-5 px-md-0">
      <div class="p text-center">
        The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious
        Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made
        herself on the way.
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
